<div class="page-header page-header-light shadow">
	<div class="page-header-content d-lg-flex">
		<div class="d-flex">
			<h4 class="page-title mb-0">
				Tables - <span class="fw-normal">Blogs</span>
			</h4>
		</div>
	</div>
	<div class="page-header-content d-lg-flex border-top">
		<div class="d-flex">
			<div class="breadcrumb py-2">
				<span class="breadcrumb-item active"><i class="ph-house"></i></span>
				<span class="breadcrumb-item">Blogs</span>
				<span class="breadcrumb-item active">Basic examples</span>
			</div>
		</div>
	</div>
</div>